{% extends "layout.html" %}
{% block content %}

<style>
        body {
          font-family: Arial;
          color: black;
        }
        
        .split {
          height: 100%;
          
          position: fixed;
          z-index: 1;
          top: 0;
          overflow-x: hidden;
          padding-top: 20px;
        }
        .bg{
            background-color:white ;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: absolute;;
            background-position: center;
        }
        .userside{
            background-image:url('/static/images/content1.png');
            
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
 
            background-position: center;
            height: 100%;
        }
        .left {
          left: 0;
          background-image:url('/static/images/homebg.png');
          width: 16%;
          box-shadow:2px 2px;
          
          
          
        }
        
        .right {
          right: 0;
          background-color: white;
          width: 84%;
        }
        
        
        
        .centered img {
          width: 150px;
          border-radius: 50%;
        }
        </style>
<div class="split left" >
   
        <div class="media mt-5">
        
            <div class="container">
           
                <img class="rounded-circle account-img ml-4  "style="width:180px;height: 150px;border: 2px solid white;" src="https://robohash.org/{{current_user.username}}.png">
                    
                    <h1 style="color:white"> {{current_user.username}} </h1>
                    <p style="color:white">Email:{{ current_user.email }}</p><hr>
           
               
                
                    <button class="btn btn-outline-light mt-4 " data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Update Profile</button>
                    
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                    <form method="POST" action="" enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}
                                    
                                        <fieldset class="form-group"> 
                                            <legend class="border-bottom">Update Profile</legend>
                                                <div class="form-group">
                                            
                                                    {{ form.username.label(class="form-control-label") }}
                                
                                                    {% if form.username.errors %}
                                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.username.errors %}
                                                            <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        {{ form.username(class="form-control form-control-lg") }}
                                                    {% endif %}
                                                </div>
                                                <div class="form-group">
                                                        {{ form.email.label(class="form-control-label") }}
                                                        {% if form.email.errors %}
                                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                                        <div class="invalid-feedback">
                                                            {% for error in form.email.errors %}
                                                            <span>{{ error }}</span>
                                                            {% endfor %}
                                                        </div>
                                                        {% else %}
                                                        {{ form.email(class="form-control form-control-lg") }}
                                                        {% endif %}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.picture.label() }}
                                                    {{ form.picture(class="form-control-file") }}
                                                    {% if form.picture.errors %}
                                                    {% for error in form.picture.errors %}
                                                    <span class="text-danger">{{ error }}</span></br>
                                                    {% endfor %}
                                                    {% endif %}
                                                </div>
                                        </fieldset>                                  
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                        
                                    </form>
                                </div>
                             </div>
                        </div>
                            
                    </div>
               

                
                        
                </div>
            </div>
        </div>
    </div>
    <div class="split right" >
        <div class="bg">
            <div class="col-md-12 mt-5 ">
    
                <h1 class=" mt-5 text-center"><span class="fa fa-clock-o ion-clock float-right"></span> My Interests</h1>
                <div class="row ml-4">
                        <a class="btn btn-info mx-5" href="{{url_for('log_interest')}}"> Add Interest</a><hr>
                        <hr>
                    </div>
                    <div class=" row">
                {% for interest in interests %}
                
                        
                   <div class="col-4" >  
                        
                        
                            <div class="card text-dark bg- m-5 shadow-lg"style="width: 23rem; height: 24rem;">
                                    <img class="card-img-top" src="https://source.unsplash.com/weekly?{{interest.content}}" alt="Card image cap"style="height: 20rem;">
                                    <div class="card-body">
                                        <p class="card-title">{{interest.content}}</p>
                            
                                        <form class="float-right"action="{{url_for('delete_interest', interest_id=interest.id)}}" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="submit" value="X" class="btn btn-danger rounded-circle">
                                        </form>
                                    </div>
                            
                            </div>
                            
                        </div>
                        {% endfor %}
                </div>
                
  
        </div>
        </div>
      
    </div>
{% endblock content %}